$primary: #303146;
$horizontal-padding: 80px;
$font-family-headline: 'Cormorant Garamond', serif;
$font-family-text: 'Roboto', sans-serif;
$easeOutExpo: cubic-bezier(0.190, 1.000, 0.220, 1.000);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: #EFF0F2;
}

a {
  text-decoration: none;
  color: $primary;
}

h3, h4, h5 {
  font-family: $font-family-text;
}

p {
  font-family: $font-family-text;
  font-size: 14px;
  color: #8d9095;
  line-height: 150%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 20px 0;
}

img{
  display: block;
  width: 100%;
  height: auto;
}

.time {
  margin-bottom: 8px;
  color: #8d9095;
}

.title, .company {
  margin-bottom: 8px;
}

.position {
  margin-bottom: 40px;
}


header {
  padding: 0 $horizontal-padding;
  

  .flex {
    display: flex;
    height: 20vh;
    justify-content: space-between;
    align-items: center;

    .tagLine01 {
      font-family: $font-family-text;
      font-size: 14px;
      color: #8d9095;
      line-height: 150%;

    }
  }
}

.mainVisual {
  position: relative;
  padding-left: 25vw;
  display: hidden;
  
  .heroSection {
    height: 80vh;

    .image01 {
      position: relative;
      height: 60vh;
  
      .imageWrap {
        background: url(https://source.unsplash.com/random/1600x900);
        background-size: cover;
        background-position: center;
        height: 100%;
      }
      
      .cross {
        position: absolute;
        height: 130px;
        width: 130px;
        bottom: 10%;
        left: 10%;
      }

      .sliderText {
        position: absolute;
        width: 800px;
        bottom: -20%;
        left: -20%;
  
        span {
          color: white;
          font-size: 180px;
          font-family: $font-family-headline;
          font-weight: 300;
          line-height: 200px;
          letter-spacing: -10px;
        }
      }
  
    }

  }
  
  
  #message {
    padding: 10vh 0;

    .vessel {
      max-width: 700px;
      font-family: $font-family-text;
      font-size: 14px;
      color: #8d9095;
      line-height: 150%;

      p {
        margin-bottom: 30px;
      }
    }
  }
}

#works {

  height: 100vh;

  .vessel {
    height: 60vh;
    position: relative;
    z-index: 1;

    &:before {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      height: 500px;
      width: 75vw;
      background-color: white;
      z-index: -1;
    }
  }

  .inner{
    padding: 100px 0 0 15vw;
  }

  .headerBlock01 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1100px;

    .ja {
      margin-left: 10px;
    }

    .headerBlock0102 {
      max-width: 600px;
      font-family: $font-family-text;
      font-size: 14px;
      color: #8d9095;
      line-height: 150%;
    }
  }

  .headMod01 {
    display: flex;
    flex-direction: column;
    color: #5e6165;

    .en {
      font-family: $font-family-headline;
      font-size: 80px;
    }
  }

  .projectsSwiper01 {

    padding: 80px 0 0 0;

    .swiperContainer {
      display: flex;
      overflow: hidden;
      // transform: translateX(-20vw);
      // width: 100vw;
    }

    .swipeCard {
      height: 400px;
      width: 400px;
      margin: 0 20px;
      user-select: none;

      &:nth-child(1) {
        margin-left: 20vw;
      }
      
      

      .imageWrapper {
        height: 250px;
        width: 400px;
        overflow: hidden;
      }

      img {
        width: 100%;
        transition: transform .2s;
        
        &:hover {
          transform: scale(1.2);
        }

      }

      .head01 {
        font-size: 26px;
        margin-top: 30px;
        font-family: $font-family-text;
        color: #5e6165;
      }

      .text01 {
        margin-top: 20px;
        font-family: $font-family-text;
        font-size: 14px;
        color: #8d9095;
        line-height: 150%;
      }
    }
  }

}

section {

  min-height: 600px;
  // background-color: wheat;

  .inner {
    padding: 100px 0 0 15vw;
  }

  .headerBlock01 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1100px;

    .ja {
      margin-left: 10px;
    }

    .headerBlock0102 {
      max-width: 600px;
      font-family: $font-family-text;
      font-size: 14px;
      color: #8d9095;
      line-height: 150%;
    }
  }

  .headMod01 {
    display: flex;
    flex-direction: column;
    color: #5e6165;

    .en {
      font-family: $font-family-headline;
      font-size: 80px;
    }
  }

}

.experienceWrapper {
  margin: 50px 0;
  width: 100%;
  min-height: 600px;
  

  .vessel {

    position: relative;
    z-index: 1;
    height: 100%;
    padding: 0 20vw 0;
    
    &:before {
      content: "";
      position: absolute;
      height: 100%;
      width: 90vw;
      z-index: -1;
      display: block;
      top: -40%;
      right: 0;
      background-color: white;
      opacity: 100%;
    }

    &:after {
      content: "";
      position: absolute;
      height: 90%;
      width: 85vw;
      z-index: -1;
      display: block;
      bottom: -10%;
      left: 0;
      background-color: white;
      opacity: 100%;
    }
    
    
  }

}


.inner {
  position: relative;
  z-index: 3;
}


.educationWrapper {
  margin: 50px 0;
  width: 100%;
  min-height: 600px;
  

  .vessel {

    position: relative;
    z-index: 1;
    height: 100%;
    padding: 0 20vw 0;
    
    // &:before {
    //   content: "";
    //   position: absolute;
    //   height: 50%;
    //   width: 40vw;
    //   z-index: -1;
    //   display: block;
    //   bottom: -40%;
    //   left: 0;
    //   background-color: white;
    //   opacity: 100%;
    // }
    
    
  }

}

#qualifications {
  background-color: #024D7C;
  
  h2 {
    color: #e1eaf0;
  }

  h3,h4,h5,p {
    color: #cad7e0;
  }

  img {
    width: 400px;
  }

  .soaLogo {
    margin: 0 5vw;
  }

  
  .qualificationsWrapper {
    display: flex;
    margin-top: 50px;
    padding-left: 5vw;

    .qualificationsWrapperRight {
      display: flex;
      align-items: center;
    }

  }

}

#skills {
  background-color: white;
  // overflow: hidden;

  .slideshow {
    position: relative;
    overflow: hidden;
  }
}


.iconsWrapper {

  display: flex;
  margin: 50px 0;
  animation: slideshow 18s linear infinite;
  position: relative;


  i,img {
    margin: 0 20px;
    display: block;
    max-width:70px;
    max-height:70px;
    // width: auto;
    height: auto;
  }
}

.languagesWrapper {

  display: flex;
  padding: 50px 0 100px;
  position: relative;
  justify-content: center;
  flex-wrap: wrap;

  .languageBlock {
    display: flex;
    align-items: center;
    overflow: hidden;
    margin: 10px 0;
    
    p {
      line-height: 120%;
    }
  }

  .abilityBarFrame {
    height: 12px;
    width: 100px;
    margin: 5px 0;
    // background-color: green;
    border-radius: 6px;

    .abilityBar {
      height: 100%;
      background-color: grey;
      border-radius: 6px;
    }
  }

  img {
    margin: 0 20px;
    display: block;
    width:70px;
    height:70px;
    // width: auto;
    height: auto;
  }
}


@keyframes slideshow {
  0%    { left: 0; }
  100%  { left: calc(-110px * 15 + 20px); }
}


@import 'mobile';
@import 'tablet';